<!DOCTYPE html>
<html lang="">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="icon" href="<%= BASE_URL %>favicon.ico">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" type="text/css">
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800' type='text/css'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css" type="text/css">
    <link rel="stylesheet" href="<%= BASE_URL %>css/icons.css" type="text/css">
    <link rel="stylesheet" href="<%= BASE_URL %>css/easy-responsive-tabs.css " type="text/css"/>
    <link rel="stylesheet" href="<%= BASE_URL %>css/flexslider.css " type="text/css"/>
    <link rel="stylesheet" href="<%= BASE_URL %>css/owl.carousel.css" type="text/css">
    <!--[if lt IE 8]><!-->
    <link rel="stylesheet" href="<%= BASE_URL %>css/ie7/ie7.css">
    <!--<![endif]-->
    <link rel="stylesheet" href="<%= BASE_URL %>css/style.css" type="text/css">
    <!-- <title><%= htmlWebpackPlugin.options.title %></title> -->
    <title>SHAANTI INSURANCE AGENCY</title>
  </head>
  <body>
    <noscript>
      <strong>We're sorry but <%= htmlWebpackPlugin.options.title %> doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    <div id="app">
      <!-- vue files auto loaded here -->
    </div>
    <!-- built files will be auto injected -->

    <!-- scripts -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-hover-dropdown/2.2.1/bootstrap-hover-dropdown.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
    <script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.9/jquery.validate.min.js"></script>
    <script src="<%= BASE_URL %>js/jquery.flexslider-min.js"></script>
    <script src="<%= BASE_URL %>js/easyResponsiveTabs.js"></script>
    <script src="<%= BASE_URL %>js/owl.carousel.js"></script>
    <script src="<%= BASE_URL %>js/custom.js"></script>
  </body>
</html>
