<template>
  <div>
    <div id="page-content">
      <section class="breadcrumb">
        <div class="container">
          <h2>Contact Us</h2>
          <ul>
            <li><router-link to="/">Home</router-link> ></li>
            <li><router-link to="/contacts">Contact Us</router-link></li>
          </ul>
        </div>
      </section>
      <section class="contact-us">
        <div class="container">
          <div class="row">
            <div class="col-md-8 col-md-offset-2">
              <div class="form-box">
                <h2>Get in Touch</h2>
                <div class="form-content">
                  <input type="text" v-model="name" placeholder="Your Name" aria-required="required"/>
                  <input type="email" v-model="email" placeholder="Your Email" aria-required="required"/>
                  <input type="text" v-model="phone" placeholder="Your Phone" aria-required="required"/>
                  <input type="text" v-model="subject" placeholder="Subject" aria-required="required"/>
                  <textarea
                    rows="1"
                    cols="1"
                    v-model="message"
                    placeholder="Your Message"
                    aria-required="required"
                  ></textarea>
                  <div class="text-center">
                    <button type="submit" class="btn-default">
                        <div v-if="loading" class="fas fa-spinner fa-pulse"></div>
                        <span v-else>Submit</span>
                    </button>
                  </div>
                </div>
              </div>
              <div class="contact-info">
                <div class="col-sm-6">
                  <div class="row">
                    <div class="contact-address">
                      <h3>Address</h3>
                      <div>
                        <i class="icon ti-home"></i>
                        <p>
                          Timshack House, Along Ngong Rd <br />Nairobi -
                          Kenya <br />Zip - 00605
                        </p>
                        <p class="social">
                          <a href="#"><i class="fa fa-facebook"></i></a>
                          <a href="#"><i class="fa fa-twitter"></i></a>
                          <a href="#"><i class="fa fa-google-plus"></i></a>
                          <a href="#"><i class="fa fa-linkedin"></i></a>
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="row">
                    <div class="contact-dtl">
                      <h3>Contact Details</h3>
                      <div>
                        <i class="icon fa fa-phone"></i>
                        <p>+254 739 542 372</p>
                      </div>
                      <div>
                        <i class="icon ti-email"></i>
                        <p><a href="#">info@shaantinsurance.com</a></p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="clearfix"></div>
              </div>
              <div class="contact-map">
                <a target="_blank" href="https://www.google.com/maps/place/Timshack+House/@-1.3003852,36.7538025,17z/data=!3m1!4b1!4m5!3m4!1s0x182f1b414a2c94bd:0x7072d5bd2aa14df8!8m2!3d-1.3003852!4d36.7559912">
                  <picture>
                    <img src="../../public/images/Insurance-company-Kenya.png" alt="Timshack House Directions">
                  </picture>
                <!-- <iframe
                  src="../../images/Insurance-company-Kenya.png"
                  width="100%"
                  height="260px"
                  frameborder="0"
                  style="border:0"
                  allowfullscreen
                ></iframe> -->
                </a>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
    <div class="clear"></div>
  </div>
</template>

<script>
export default {
    components: {},
    data() {
        return {
            form: {
                name: '',
                email: '',
                subject: '',
                phone: '',
                message: '',
            }
        }
    }
};
</script>
