<template>
<div>
    <div id="page-content">
		<Banner></Banner>
		<HomeInfo></HomeInfo>
    <Products></Products>
    </div>
	<div class="clear"></div>
</div>
</template>

<script>
// @ is an alias to /src
/*eslint-disable*/
import Banner from '../components/Banner.vue'
import HomeInfo from '../components/HomeInfo.vue'
import Products from '../components/Products.vue'

export default {
  name: 'Home',
  components: {
	Banner,
	HomeInfo,
  Products
  },
  data() {
    return {}
  },
  methods: {},
  mounted() {
    $(".flexslider").flexslider({
      animation: "fade",
      start: function(slider) {
        $("body").removeClass("loading");
      },
    });
    $("#parentVerticalTab").easyResponsiveTabs({
			type: "vertical", //Types: default, vertical, accordion
			width: "auto", //auto or any width like 600px
			fit: true, // 100% fit in a container
			closed: "accordion", // Start closed if in accordion view
			tabidentify: "hor_1", // The tab groups identifier
			activate: function(event) {
			// Callback function if tab is switched
			var $tab = $(this);
			var $info = $("#nested-tabInfo2");
			var $name = $("span", $info);
			$name.text($tab.text());
			$info.show();
			},
		});
  }
}
</script>

<style scoped>
/* 344659 */
/* FDA50F */
</style>