<template>
    <div id="page-content">
        <div class="clear"></div>
        <section class="product-tab">
            <div class="container">
                <div class="row">
                    <div id="parentVerticalTab">
                        <h2>Error</h2>
                        <ul class="resp-tabs-list hor_1 col-sm-3 col-md-3 col-lg-3">
                            <li><i class=""></i>404: Page Not Found</li>
                        </ul>
                        <div class="col-sm-5 col-md-5 col-lg-5 resp-tabs-container hor_1">
                            <div>
                                <img
                                    src="../../public/images/page-not-found-insurance-firm-kenya.jpeg"
                                    alt=""
                                    class="img-responsive"
                                    />
                                <div class="prod-tab-content">
                                    <h4>
                                        <span class="prod-cion"><i class=""></i></span>
                                        
                                    </h4>
                                    <p>
                                        Ooop! Looks like this page was damaged!.
                                    </p>
                                    <p>
                                        You know what? <strong>It was insured</strong>. You might want to visit other pages!
                                    </p>
                                    <p class="tel">
                                        <i class=""></i>Check the following
                                        <span></span>
                                    </p>
                                    <p>
                                        <router-link class="btn-default" to="/">Visit this page instead.</router-link
                                        >
                                    </p>
                                </div>
                                    
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</template>

<script>
export default {
    
}
</script>

<style scoped>
.img-responsive{
    border-radius: 60px;
}
</style>