<template>
<div id="page-content">
	<!-- Types -->
	<section class="product-tab">
        <div class="container">
            <div class="row">
                <div id="parentVerticalTab">
                    <h2>Products</h2>
                    <ul class="resp-tabs-list hor_1 col-sm-3 col-md-3 col-lg-3">
                    <li><i class="ti-heart-broken"></i> Health Insurance</li>
                    <li><i class="ti-car"></i> Motor Vehicle Insurance</li>
                    <li><i class="ti-home"></i>Property Insurance</li>
                    <li><i class="fa fa-plane"></i> General Insurance</li>
                    </ul>
                    <div class="col-sm-5 col-md-5 col-lg-5 resp-tabs-container hor_1">
                    <div>
                        <div class="prod-tab-content">
                        <h4>
                            <span class="prod-cion"><i class="ti-heart-broken"></i></span>
                            Health Insurance
                        </h4>
                        <p>
                            Enjoy the freedom of life knowing that your family and loved ones 
                            are covered.
                        </p>
                        <p>
                            Includes...
                        </p>
                        <p class="tel">
                            <i class="fa fa-phone"></i>+254 739 542 372
                            <span>Agent</span>
                        </p>
                        <p>
                            <router-link class="btn-default" to="/contacts">Get Free Quote</router-link
                            >
                        </p>
                        </div>
                        <img
                        src="../../public/images/3.jpg"
                        alt=""
                        class="img-responsive"
                        />
                    </div>
                    <div>
                        <div class="prod-tab-content">
                        <h4>
                            <span class="prod-cion"><i class="ti-car"></i></span>
                            Motor Vehicle Insurance
                        </h4>
                        <p>
                            Every day owners suffer complete or partial financial 
                            loss in the event their motor vehicle is involved in an accident, 
                            theft or fire outbreak.
                        </p>
                        <p>
                            We help you get ahead of such losses by insuring your vehicle.
                            We have both comprehensive and third-party insurance covers.
                        </p>
                        <p class="tel">
                            <i class="fa fa-phone"></i> +254 739 542 372
                            <span>Toll Free</span>
                        </p>
                        <p>
                            <router-link class="btn-default" to="/contacts">Get Free Quote</router-link>
                        </p>
                        </div>
                        <img src="../../public/images/2.jpg" alt="" class="img-responsive" />
                    </div>
                    <div>
                        <div class="prod-tab-content">
                        <h4>
                            <span class="prod-cion"
                            ><i class="ti-home"></i
                            ></span>
                            Property Insurance
                        </h4>
                        <p>
                            Get ahead and insure your house, home, commercial property, 
                            tangible and intangible assets against damage, fire or loss 
                            due to dishonest workmanship.
                        </p>
                        <p>
                            Includes.
                        </p>
                        <p class="tel">
                            <i class="fa fa-phone"></i> +254 739 542 372
                            <span>Agent</span>
                        </p>
                        <p>
                            <router-link class="btn-default" to="/contacts">Get Free Quote</router-link>
                        </p>
                        </div>
                        <img src="../../public/images/product-img.jpg" alt="" class="img-responsive" />
                    </div>
                    <div>
                        <div class="prod-tab-content">
                        <h4>
                            <span class="prod-cion"><i class="fa fa-plane"></i></span>
                            General Insurance
                        </h4>
                        <p>
                            <strong>Proffessional Idemnity</strong> We have customized covers 
                            for corporates who would like to insure their proffessions, 
                            workman injury, any risk insurance etc.
                        </p>
                        <p>
                            <strong>Individual Cover</strong> You like traveling either overseas 
                            or inland, get your travel covered by Shaanti Insurance.
                        </p>
                        <p class="tel">
                            <i class="fa fa-phone"></i> +254 739 542 372
                            <span>Agent</span>
                        </p>
                        <p>
                            <router-link class="btn-default" to="/contacts">Get Free Quote</router-link>
                        </p>
                        </div>
                        <img src="../../public/images/1.jpg" alt="" class="img-responsive" />
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

	<!-- Benefits -->
    <section class="services">
		<h2 class="text-center">Property Insurance Benefits</h2>
		<div class="container">
			<div class="row">
				<div class="col-sm-3 services-dtl">
					<span class="fa fa-life-bouy"></span>
					<h3>24x7 Support</h3>
					<p>Lorem ipsum dolor sit amet, consectetur</p>
				</div>
				<div class="col-sm-3 services-dtl">
					<span class="ti-pencil"></span>
					<h3>Easy Claim System</h3>
					<p>Lorem ipsum dolor sit amet, consectetur</p>
				</div>
				<div class="col-sm-3 services-dtl">
					<span class="ti-email"></span>
					<h3>Get Started With us</h3>
					<p>Lorem ipsum dolor sit amet, consectetur</p>
				</div>
				<div class="col-sm-3 services-dtl">
					<span class="fa fa-money"></span>
					<h3>Easy Installments</h3>
					<p>Lorem ipsum dolor sit amet, consectetur</p>
				</div>
				<div class="col-sm-3 services-dtl">
					<span class="ti-wallet"></span>
					<h3>Lorem Ipsum</h3>
					<p>Lorem ipsum dolor sit amet, consectetur</p>
				</div>
				<div class="col-sm-3 services-dtl">
					<span class="fa fa-laptop"></span>
					<h3>Online Account</h3>
					<p>Lorem ipsum dolor sit amet, consectetur</p>
				</div>
				<div class="col-sm-3 services-dtl">
					<span class="ti-lock"></span>
					<h3>Strongly Secure</h3>
					<p>Lorem ipsum dolor sit amet, consectetur</p>
				</div>
				<div class="col-sm-3 services-dtl">
					<span class="ti-book"></span>
					<h3>Understandable Terms</h3>
					<p>Lorem ipsum dolor sit amet, consectetur</p>
				</div>
			</div>
		</div>
    </section>
</div>
</template>

<script>
/*eslint-disable*/ 
export default {
    components: {

	},
	data() {
		return {}
	},
	methods: {},
	mounted(){
		$("#parentVerticalTab").easyResponsiveTabs({
			type: "vertical", //Types: default, vertical, accordion
			width: "auto", //auto or any width like 600px
			fit: true, // 100% fit in a container
			closed: "accordion", // Start closed if in accordion view
			tabidentify: "hor_1", // The tab groups identifier
			activate: function(event) {
			// Callback function if tab is switched
			var $tab = $(this);
			var $info = $("#nested-tabInfo2");
			var $name = $("span", $info);
			$name.text($tab.text());
			$info.show();
			},
		});
	},
}
</script>