<template>
  <div>
    <section class="flexslider">
      <ul class="slides">
        <li>
          <img src="../../public/images/health-insurance-in-kenya.webp" />
          <div class="slide-info">
            <div class="slide-con">
              <b>Healthcare</b>
              <h3>Health Insurance</h3>
              <p>
                Protect those you love with an affordable, cost-effective health cover.
              </p>
              <router-link to="/health-insurance" class="ti-arrow-right"></router-link>
            </div>
          </div>
        </li>
        <li>
          <img src="../../public/images/vehicle-insurance-kenya.jpg" />
          <div class="slide-info">
            <div class="slide-con">
              <b>Motor Vehicle</b>
              <h5>Motor Vehicle Insurance</h5>
              <p>
                Protect your vehicle against loss in the event of accident, theft, e.t.c.
              </p>
              <router-link to="/motor-insurance" class="ti-arrow-right"></router-link>
            </div>
          </div>
        </li>
        <li>
          <img src="../../public/images/property-insurance-in-Kenya.jpg" />
          <div class="slide-info">
            <div class="slide-con">
              <b>Property</b>
              <h5>Property Insurance</h5>
              <p>
                Insures commercial and personal property like houses.
                We help you protect them against damage in the event of damage, fire, etc.
              </p>
              <router-link to="/property-insurance" class="ti-arrow-right"></router-link>
            </div>
          </div>
        </li>
      </ul>
    </section>
  </div>
</template>

<script>
export default {};
</script>

<style scoped>
img{
  max-height: 560px;
}
</style>