<template>
<footer>
	<div class="container">
		<div class="row contact-sec">
			<div class="col-md-5 col-lg-5">
				<h2>Shaanti <span>Insurance</span></h2>
				<div class="row">
					<div class="col-sm-6">
						<p>Ngong Rd #127 TimShack Hse - Nairobi <br />Zip - 00605</p>
					</div>
					<div class="col-sm-6">
						<ul>
							<li>
							<a href="#"
								><i class="fa fa-phone"></i> (+254) 739 542 372</a
							>
							</li>
							<li>
							<a href="#"
								><i class="ti-email"></i> info@shaantinsurance.com</a
							>
							</li>
						</ul>
					</div>
				</div>
				<router-link to="/" class="btn-default">Contact Us</router-link>
			</div>
			<div class="col-md-5 col-lg-5 col-md-offset-2 col-lg-offset-2">
				<h2>Office<span>Locations</span></h2>
				<div class="row">
					<div class="col-sm-6">
						<p>Main Office - Along Ngong Road <br />Zip - 00605</p>
					</div>
					<div class="col-sm-6">
						<ul>
							<li>
							<a href="#"
								><i class="fa fa-phone"></i> (+254) 739 542 372</a
							>
							</li>
							<li>
							<a href="#"
								><i class="ti-email"></i> info@shaantinsurance.com</a
							>
							</li>
						</ul>
					</div>
				</div>
				<router-link to="/" class="btn-default">Contact Agent</router-link>
			</div>
		</div>
		<div class="row">
			<div class="col-md-8 col-lg-8">
				<ul class="footer-nav">
					<li><router-link to="/">Home</router-link></li>
					<li><router-link to="/">About Us</router-link></li>
					<li><router-link to="/health-insurance">Health Cover</router-link></li>
					<li><router-link to="/motor-insurance">Motor Vehicle</router-link></li>
					<li><router-link to="/property-insurance">Property Insurance</router-link></li>
					<li><router-view to="/general-insurance">General</router-view></li>
					<li><router-view to="/contacts">Contacts</router-view></li>
				</ul>
			</div>
			<div class="col-md-2 col-lg-2 col-md-offset-2 col-lg-offset-2">
				<ul class="footer-social">
					<li>
					<a href="#"><i class="fa fa-facebook"></i></a>
					</li>
					<li>
					<a href="#"><i class="fa fa-google-plus"></i></a>
					</li>
					<li>
					<a href="#"><i class="fa fa-twitter"></i></a>
					</li>
					<li>
					<a href="#"><i class="fa fa-linkedin"></i></a>
					</li>
					<li>
					<a href="#"><i class="fa fa-pinterest"></i></a>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<div class="copyright">
		<div class="container">
			<div class="row">
			<div class="col-sm-6 col-md-6 col-lg-6">
				Copyright &copy; {{currentYear}}
				<router-link to="/">Shaanti Insurance Agency</router-link>
			</div>
			<div class="col-sm-6 col-md-6 col-lg-6 text-right">
				<router-link to="/">Terms & Conditions</router-link>
				<router-link to="/">Policy</router-link>
			</div>
			</div>
		</div>
	</div>
</footer>
</template>

<script>
export default {
    components: {},
    data() {
        return {
            currentYear: new Date().getFullYear(),
        }
    }
};
</script>
