<template>
<div>
	<header>
		<div class="top-bar">
			<div class="container">
				<div class="row">
				<div class="col-sm-6 address">
					<i class="ti-location-pin"></i>  Ngong Rd #127 TimShack Hse, Nairobi 00605
				</div>
				<div class="col-sm-6 social">
					<ul>
					<li>
						<a href="#"><i class="fa fa-twitter"></i></a>
					</li>
					<li>
						<a href="#"><i class="fa fa-facebook-square"></i></a>
					</li>
					<li>
						<a href="#"><i class="fa fa-linkedin-square"></i></a>
					</li>
					<li>
						<a href="#"><i class="fa fa-pinterest"></i></a>
					</li>
					<li>
						<a href="#"><i class="fa fa-instagram"></i></a>
					</li>
					<li>
						<a href="#"><i class="fa fa-youtube"></i></a>
					</li>
					</ul>
				</div>
				</div>
			</div>
		</div>
		<nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
			<div class="container">
				<div class="navbar-header">
				<button
					type="button"
					class="navbar-toggle"
					data-toggle="collapse"
					data-target=".navbar-main-collapse"
				>
					<i class="fa fa-bars"></i>
				</button>
				<router-link class="navbar-brand" to="/">
					Shaanti <span>Insurance</span>
				</router-link>
				<p>Call Us Now <b>+254-739 542 372</b></p>
				</div>
				<div class="collapse navbar-collapse navbar-main-collapse">
				<ul class="nav navbar-nav navbar-right">
					<li>
						<router-link to="/">Home</router-link>
					</li>
					<li>
						<router-link to="/health-insurance">Health Cover</router-link>
					</li>
					<li>
						<router-link to="/property-insurance">Property Insurance</router-link>
					</li>
					<li>
						<router-link to="/motor-insurance">Motor Vehicle</router-link>
					</li>
					<li>
						<router-link to="/general-insurance">General Insurance</router-link>
					</li>
					<li>
						<router-link to="/contacts">Contact</router-link>
					</li>
					<!-- <li>
						<router-link to="/" class="btn-default">Buy Pro Version</router-link>
					</li> -->
				</ul>
				</div>
			</div>
		</nav>
	</header>
	<div class="clear"></div>
</div>
</template>

<script>
export default {

}
</script>
