<template>
    <div class="container" id="intro">
        <div class="row">
            <section class="col-sm-7 col-md-8 col-lg-8">
                <div class="intro">
                    <h2>Why Shaanti Insurance</h2>
                    <p>
                    Like a good neighbor, Shaanti Isurance is always there.
                    We are dedicated to offering;
                    </p>
                    <ul class="row">
                        <li class="col-sm-4">
                            <i class="ti-marker-alt"></i>
                            <h3>Easy Claim system</h3>
                            <p>We offer a claim system that's fast, transparent and client-oriented.</p>
                        </li>
                        <li class="col-sm-4">
                            <i class="ti-email"></i>
                            <h3>Variety of Products</h3>
                            <p>See a list of all products we offer.</p>
                        </li>
                        <li class="col-sm-4">
                            <i class="fa fa-life-ring"></i>
                            <h3>24x7 Support</h3>
                            <p>Our support system is ready to help you out. Talk to us anytime.</p>
                        </li>
                    </ul>
                </div>
            </section>
            <section class="col-sm-5 col-md-4 col-lg-4">
                <div class="get-quote-form">
                    <h2>Get a free quote form</h2>
                    <form id="get-quote">
                        <div>
                            <input type="text" v-model="form.name" placeholder="Your Name" aria-required="required"/>
                        </div>
                        <div>
                            <input type="email" v-model="form.email" placeholder="Email" aria-required="required"/>
                        </div>
                        <div>
                            <input type="text" v-model="form.phone" placeholder="Phone no" aria-required="required"/>
                        </div>
                        <div class="form-select">
                            <span></span>
                            <select v-model="subject">
                                <option selected>Please select an option..</option>
                                <option value="Health Cover">Health Cover</option>
                                <option value="Property Insurance">Property Insurance</option>
                                <option value="Motor Vehicle Insurance">Motor Vehicle Insurance</option>
                                <option value="Other">other</option>
                            </select>
                        </div>
                        <div>
                            <textarea rows="1" cols="1" v-model="form.message" placeholder="Message"></textarea>
                        </div>
                        <div class="text-center">
                            <button type="submit" class="btn-default">
                                <div v-if="loading" class="fas fa-spinner fa-pulse"></div>
                                <span v-else>Get Free Quote</span>
                            </button>
                        </div>
                    </form>
                </div>
            </section>
        </div>
    </div>
    <!-- @click="scrollMeTo('contact')
    scrollMeTo(refName) {
      var element = document.getElementById(refName);
      var top = element.offsetTop;

      window.scrollTo(0, top);
    },
     -->
</template>

<script>
export default {
    components: {

    },
    data() {
        return {
            form: {
                name: '',
                email: '',
                subject: '',
                phone: '',
                message: '',
            }
        }
    },
};
</script>
